<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			<li>
				<a href="/">
					<i class="fa fa-circle-o"></i> 
					<span>Home</span>
				</a>
			</li>
			{{#each collections.root}}
			<li>
				<a href="{{path}}">
					<i class="fa fa-circle-o"></i> 
					<span>{{title}}</span>
				</a>
			</li>
			{{/each}}
			{{#each collections}}
			{{#is @key '!==' 'home'}}
			{{#is @key '!==' 'root'}}
			<li class="treeview">
				<a href="#">
					<i class="fa fa-book"></i> <span>{{titleCase @key}}</span>
					<span class="pull-right-container">
						<i class="fa fa-angle-left pull-right"></i>
					</span>
				</a>
				<ul class="treeview-menu">
					{{#each this}}
					<li>
						<a href="{{path}}">
							<i class="fa fa-circle-o"></i> 
							<span>{{title}}</span>
						</a>
					</li>
					{{/each}}
				</ul>
			</li>
			{{/is}}
			{{/is}}
			{{/each}}
		</ul>
	</section>
</aside>