<div class="ui left fixed vertical menu">
	<div class="item">
		<div class="menu">
			<a href="/" class="item">
				Home
			</a>
			{{#each collections.root}}
			<a class="item">
				{{title}}
			</a>
			{{/each}}
		</div>
	</div>
	{{#each collections}}
	{{#is @key '!==' 'home'}}
	{{#is @key '!==' 'root'}}
	<div class="item">
		<div class="header">{{titleCase @key}}</div>
		<div class="menu">
			{{#each this}}
			<a class="item">{{title}}</a>
			{{/each}}
		</div>
	</div>
	{{/is}}
	{{/is}}
	{{/each}}
</div>