<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{config 'base'}}">{{config 'name'}}</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="{{config 'base'}}">Home</a></li>
				{{#each collections.root}}
					<li>
						<a href="{{config 'base'}}/{{path}}">
							{{title}}
						</a>
					</li>
				{{/each}}
				{{#each collections}}
				{{#notroot @key}}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						{{titleCase @key}} 
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						{{#each this}}
						<li>
							<a href="{{config 'base'}}/{{path}}">
								{{title}}
							</a>
						</li>
						{{/each}}
					</ul>
				</li>
				{{/notroot}}
				{{/each}}
			</ul>
		</div>
	</div>
</nav>